<a href="https://colab.research.google.com/github/StephaniePC1/ThisIsWhatIDoNow/blob/master/GPIII_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
path = 'https://github.com/ldtcooper/Exploring-Ebay-Car-Sales/raw/master/autos.csv'
autos = pd.read_csv(path, encoding='Latin-1')
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

           dateCrawled  ...             lastSeen
0  2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1  2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2  2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3  2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4  2016-04-01 14:38:50  ...  2016-04-01 14:38:50

[5 rows x 20 columns]

In [4]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [5]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_photos', 'postal_code',
       'last_seen']
autos.head()

          date_crawled  ...            last_seen
0  2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1  2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2  2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3  2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4  2016-04-01 14:38:50  ...  2016-04-01 14:38:50

[5 rows x 20 columns]

In [6]:
autos.columns

# Checking to make sure the name changess are all accuate

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_photos', 'postal_code',
       'last_seen'],
      dtype='object')

In [7]:
autos.describe(include = "all")

               date_crawled         name  ...   postal_code            last_seen
count                 50000        50000  ...  50000.000000                50000
unique                48213        38754  ...           NaN                39481
top     2016-03-08 10:40:35  Ford_Fiesta  ...           NaN  2016-04-07 06:17:27
freq                      3           78  ...           NaN                    8
mean                    NaN          NaN  ...  50813.627300                  NaN
std                     NaN          NaN  ...  25779.747957                  NaN
min                     NaN          NaN  ...   1067.000000                  NaN
25%                     NaN          NaN  ...  30451.000000                  NaN
50%                     NaN          NaN  ...  49577.000000                  NaN
75%                     NaN          NaN  ...  71540.000000                  NaN
max                     NaN          NaN  ...  99998.000000                  NaN

[11 rows x 20 columns]

In [8]:
autos = autos.drop(["seller", "offer_type", "num_photos"], axis=1)

In [9]:
autos.columns
# Confirming seller, offer_type, and num_photos removed

Index(['date_crawled', 'name', 'price', 'ab_test', 'vehicle_type',
       'registration_year', 'gearbox', 'power_ps', 'model', 'odometer',
       'registration_month', 'fuel_type', 'brand', 'unrepaired_damage',
       'ad_created', 'postal_code', 'last_seen'],
      dtype='object')

In [10]:
autos["price"]

0         $5,000
1         $8,500
2         $8,990
3         $4,350
4         $1,350
          ...
49995    $24,900
49996     $1,980
49997    $13,200
49998    $22,900
49999     $1,250
Name: price, Length: 50000, dtype: object

In [11]:
autos["price"] = (autos["price"].str.replace("$","").str.replace(",","").astype(int))

In [12]:
autos["price"]
# Making sure the value is an interger with no "$"

0         5000
1         8500
2         8990
3         4350
4         1350
         ...
49995    24900
49996     1980
49997    13200
49998    22900
49999     1250
Name: price, Length: 50000, dtype: int64

In [13]:
autos["odometer"]
# The value is combined with letters

0        150,000km
1        150,000km
2         70,000km
3         70,000km
4        150,000km
           ...
49995    100,000km
49996    150,000km
49997      5,000km
49998     40,000km
49999    150,000km
Name: odometer, Length: 50000, dtype: object

In [14]:
autos["odometer"] = (autos["odometer"].str.replace("km","").str.replace(",","").astype(int))

In [15]:
autos["odometer"]
# Checking that km in removed

0        150000
1        150000
2         70000
3         70000
4        150000
          ...
49995    100000
49996    150000
49997      5000
49998     40000
49999    150000
Name: odometer, Length: 50000, dtype: int64

In [16]:
# Renaming "odometer" to "odometer_km"
autos.columns = ['date_crawled', 'name', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'postal_code',
       'last_seen']

In [17]:
# Checking thaat the name change took place
autos.columns

Index(['date_crawled', 'name', 'price', 'ab_test', 'vehicle_type',
       'registration_year', 'gearbox', 'power_ps', 'model', 'odometer_km',
       'registration_month', 'fuel_type', 'brand', 'unrepaired_damage',
       'ad_created', 'postal_code', 'last_seen'],
      dtype='object')

In [18]:
autos["odometer_km"].value_counts().head(25)

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: odometer_km, dtype: int64

In [19]:
print(autos["price"].unique().shape)
print(autos["price"].describe())

(2357,)
count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [20]:
autos["price"].value_counts().head(25)

0       1421
500      781
1500     734
2500     643
1000     639
1200     639
600      531
800      498
3500     498
2000     460
999      434
750      433
900      420
650      419
850      410
700      395
4500     394
300      384
2200     382
950      379
1100     376
1300     371
3000     365
550      356
1800     355
Name: price, dtype: int64

In [21]:
autos["price"].value_counts().sort_index(ascending=False).head(25)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
194000      1
190000      1
180000      1
175000      1
169999      1
Name: price, dtype: int64

In [22]:
autos["price"].value_counts().sort_index(ascending=True).head(25)

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
13       2
14       1
15       2
17       3
18       1
20       4
25       5
29       1
30       7
35       1
40       6
45       4
47       1
49       4
50      49
Name: price, dtype: int64

In [23]:
autos = autos[autos["price"].between(1,351000)]

In [24]:
print(round(autos["price"].describe() ,2))

count     48565.00
mean       5888.94
std        9059.85
min           1.00
25%        1200.00
50%        3000.00
75%        7490.00
max      350000.00
Name: price, dtype: float64

In [25]:
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [26]:
print(round(autos["date_crawled"].str[:10].value_counts(normalize=True, dropna=False).sort_index() ,2))

2016-03-05    0.03
2016-03-06    0.01
2016-03-07    0.04
2016-03-08    0.03
2016-03-09    0.03
2016-03-10    0.03
2016-03-11    0.03
2016-03-12    0.04
2016-03-13    0.02
2016-03-14    0.04
2016-03-15    0.03
2016-03-16    0.03
2016-03-17    0.03
2016-03-18    0.01
2016-03-19    0.03
2016-03-20    0.04
2016-03-21    0.04
2016-03-22    0.03
2016-03-23    0.03
2016-03-24    0.03
2016-03-25    0.03
2016-03-26    0.03
2016-03-27    0.03
2016-03-28    0.03
2016-03-29    0.03
2016-03-30    0.03
2016-03-31    0.03
2016-04-01    0.03
2016-04-02    0.04
2016-04-03    0.04
2016-04-04    0.04
2016-04-05    0.01
2016-04-06    0.00
2016-04-07    0.00
Name: date_crawled, dtype: float64

In [27]:
print(round(autos["ad_created"].str[:10].value_counts(normalize=True, dropna=False).sort_index() ,4)*100)

2015-06-11    0.00
2015-08-10    0.00
2015-09-09    0.00
2015-11-10    0.00
2015-12-05    0.00
              ...
2016-04-03    3.89
2016-04-04    3.69
2016-04-05    1.18
2016-04-06    0.33
2016-04-07    0.13
Name: ad_created, Length: 76, dtype: float64

In [28]:
print(round(autos["last_seen"].str[:10].value_counts(normalize=True, dropna=False).sort_index() ,4)*100)

2016-03-05     0.11
2016-03-06     0.43
2016-03-07     0.54
2016-03-08     0.74
2016-03-09     0.96
2016-03-10     1.07
2016-03-11     1.24
2016-03-12     2.38
2016-03-13     0.89
2016-03-14     1.26
2016-03-15     1.59
2016-03-16     1.65
2016-03-17     2.81
2016-03-18     0.74
2016-03-19     1.58
2016-03-20     2.07
2016-03-21     2.06
2016-03-22     2.14
2016-03-23     1.85
2016-03-24     1.98
2016-03-25     1.92
2016-03-26     1.68
2016-03-27     1.56
2016-03-28     2.09
2016-03-29     2.23
2016-03-30     2.48
2016-03-31     2.38
2016-04-01     2.28
2016-04-02     2.49
2016-04-03     2.52
2016-04-04     2.45
2016-04-05    12.48
2016-04-06    22.18
2016-04-07    13.19
Name: last_seen, dtype: float64

In [29]:
print(round(autos["registration_year"].describe() ,2))

count    48565.00
mean      2004.76
std         88.64
min       1000.00
25%       1999.00
50%       2004.00
75%       2008.00
max       9999.00
Name: registration_year, dtype: float64

In [30]:
autos = autos[(autos['registration_year'] >= 1800) & (autos['registration_year'] <= 2016)]

In [31]:
autos["registration_year"].value_counts

<bound method IndexOpsMixin.value_counts of 0        2004
1        1997
2        2009
3        2007
4        2003
         ...
49995    2011
49996    1996
49997    2014
49998    2013
49999    1996
Name: registration_year, Length: 46683, dtype: int64>

In [32]:
type_popularity=round(autos["vehicle_type"].value_counts(normalize=True) ,4)*100
print(type_popularity)

limousine     28.65
kleinwagen    24.07
kombi         20.31
bus            9.17
cabrio         6.86
coupe          5.60
suv            4.47
andere         0.89
Name: vehicle_type, dtype: float64

In [33]:
sold_with_damage=round(autos["unrepaired_damage"].value_counts(normalize=True) ,4)*100
print(sold_with_damage)

nein    88.17
ja      11.83
Name: unrepaired_damage, dtype: float64

In [34]:
popular_models=round(autos["model"].value_counts(normalize=True) ,4)*100
print(popular_models)

golf          8.33
andere        7.58
3er           5.88
polo          3.62
corsa         3.58
              ...
kappa         0.00
b_max         0.00
i3            0.00
200           0.00
rangerover    0.00
Name: model, Length: 244, dtype: float64

In [35]:
top_popular_models = popular_models[popular_models > 3.0].index
print(top_popular_models)

Index(['golf', 'andere', '3er', 'polo', 'corsa', 'passat', 'astra'], dtype='object')

In [36]:
model_average_price = {}

for model in top_popular_models:
    model_only = autos[autos["model"] == model]
    mean_price_for_model = model_only["price"].mean()
    model_average_price[model] = round(mean_price_for_model ,2)
    
model_average_price

{'3er': 6001.79,
 'andere': 6941.35,
 'astra': 3312.47,
 'corsa': 1876.51,
 'golf': 5081.58,
 'passat': 4948.3,
 'polo': 2593.38}

In [37]:
mean_mileage_by_model = {}

for model in top_popular_models:
    model_only_2 = autos[autos["model"] == model]
    mean_mileage_1 = model_only_2["odometer_km"].mean()
    mean_mileage_by_model[model] = round(mean_mileage_1 ,2)

mean_mileage_by_model

{'3er': 137305.93,
 'andere': 120189.74,
 'astra': 131131.31,
 'corsa': 128461.06,
 'golf': 128048.29,
 'passat': 139725.72,
 'polo': 127445.62}

In [38]:
brand_popularity=round(autos["brand"].value_counts(normalize=True) ,4)*100
# Rounded and made a percentage

In [39]:
# Checking the variable
print(brand_popularity)

volkswagen        21.13
bmw               11.00
opel              10.76
mercedes_benz      9.65
audi               8.66
ford               6.99
renault            4.71
peugeot            2.98
fiat               2.56
seat               1.83
skoda              1.64
nissan             1.53
mazda              1.52
smart              1.42
citroen            1.40
toyota             1.27
hyundai            1.00
sonstige_autos     0.98
volvo              0.91
mini               0.88
mitsubishi         0.83
honda              0.78
kia                0.71
alfa_romeo         0.66
porsche            0.61
suzuki             0.59
chevrolet          0.57
chrysler           0.35
dacia              0.26
daihatsu           0.25
jeep               0.23
subaru             0.21
land_rover         0.21
saab               0.16
jaguar             0.16
daewoo             0.15
trabant            0.14
rover              0.13
lancia             0.11
lada               0.06
Name: brand, dtype: float64

In [40]:
# This variable is finding brands with above a 4 percent frequency
popular_brands = brand_popularity[brand_popularity > 4.0].index

In [41]:
# Checking the output
print(popular_brands)

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford',
       'renault'],
      dtype='object')

In [42]:
brand_average_price = {}

for brand in popular_brands:
    brand_only = autos[autos["brand"] == brand]
    mean_price = brand_only["price"].mean()
    brand_average_price[brand] = round(mean_price ,2)

brand_average_price

{'audi': 9336.69,
 'bmw': 8332.82,
 'ford': 3749.47,
 'mercedes_benz': 8628.45,
 'opel': 2975.24,
 'renault': 2474.86,
 'volkswagen': 5402.41}

In [43]:
bmp_series = pd.Series(brand_average_price)
print(bmp_series)

volkswagen       5402.41
bmw              8332.82
opel             2975.24
mercedes_benz    8628.45
audi             9336.69
ford             3749.47
renault          2474.86
dtype: float64

In [44]:
meanprice = pd.DataFrame(bmp_series, columns=['mean_price'])

In [45]:
mean_mileage_by_brand = {}

for brand in popular_brands:
    brand_only = autos[autos["brand"] == brand]
    mean_mileage = brand_only["odometer_km"].mean()
    mean_mileage_by_brand[brand] = round(mean_mileage ,2)

In [46]:
mean_mileage = pd.Series(mean_mileage_by_brand).sort_values(ascending=False)
mean_prices = pd.Series(brand_average_price).sort_values(ascending=False)
mean_mileage

bmw              132572.51
mercedes_benz    130788.36
opel             129310.04
audi             129157.39
volkswagen       128707.16
renault          128071.33
ford             124266.01
dtype: float64

In [47]:
brand_mileage_and_price = pd.DataFrame(mean_mileage,columns=['mean_mileage'])
brand_mileage_and_price["mean_price"] = mean_prices

In [48]:
brand_mileage_and_price

               mean_mileage  mean_price
bmw               132572.51     8332.82
mercedes_benz     130788.36     8628.45
opel              129310.04     2975.24
audi              129157.39     9336.69
volkswagen        128707.16     5402.41
renault           128071.33     2474.86
ford              124266.01     3749.47